In [ ]:
print(input("Nama: "))
print(input("NIM: "))
print(input("Kelas: "))

## 1.

diketahui dimensi sebuah aquarium tanpa penutup atas sebagai berikut:

```python
p = 11
l = 1.99
t = 25.87
```
buatkan program sederhana untuk menghitung diagonal tiap sisi dan luas permukaan aquarium tersebut tanpa menggunakan module math.

In [12]:
p = 11
l = 1.99
t = 25.87
# p,l,t = t,p,l
print(p,l,t)

dia1 = (p**2 + l**2) ** .5
dia2 = (l**2 + t**2) ** .5
dia3 = (p**2 + t**2) ** .5
print(f"{dia1:.3f}")
print(f"{dia2:.3f}")
print(f"{dia3:.3f}")

vol = p*l*t
print(f"Volume {vol:.3f}")
lp = p*l + 2 * (l*t + p*t)
print(f"Luas permukaan {lp:.3f}")

11 1.99 25.87
11.179
25.946
28.112
Volume 566.294
Luas permukaan 693.993

## 2.

diberikan data nilai mahasiswa sebagai berikut:

In [2]:
nilai = {
    'Frank': 80,
    'Abagnale': 75,
    'Cobb': 90,
    'Andy Dufresne': 85,
    'Ariadne': 70
}

buatlah program sederhana untuk menghitung nilai rata-rata semua mahasiswa dan mencari siapa yang mendapatkan nilai tertinggi dan nilai terendah. 
> *note: tidak perlu menggunakan loops untuk membuat program nya*

In [3]:
sum = nilai["Frank"] + nilai["Abagnale"] + nilai["Cobb"] +\
      nilai["Andy Dufresne"] + nilai["Ariadne"]
print('nilai["Frank"] + nilai["Abagnale"] + nilai["Cobb"] +\
      nilai["Andy Dufresne"] + nilai["Ariadne"]')
mean = sum / len(nilai)
print(mean)

maxnilai = max(nilai["Frank"] ,nilai["Abagnale"] , nilai["Cobb"] ,
      nilai["Andy Dufresne"] , nilai["Ariadne"])
minnilai = min(nilai["Frank"] , nilai["Abagnale"] , nilai["Cobb"] ,
      nilai["Andy Dufresne"] , nilai["Ariadne"])

print(f"""nilai maks {maxnilai}
min nilai {minnilai}""")

80.0
nilai maks 90
min nilai 70

## 3.

diberikan list aslab sebagai berikut:
```python
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]
```
* **A** Tuliskan kode untuk mengakses informasi tentang "nama" dari semua aslab mulai dari index 1 sampai 5
* **B** Tambahkan informasi berikut pada data aslab:
```python
    surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]
```
> *note: kalian hanya boleh menggunakan key-value pair yang disebutkan di dalam teks, tanpa menggunakan informasi tambahan yang diambil pada list yang ada*

In [5]:
#A. program kode untuk mengakses informasi tentang nama aslab mulai dari index 1 s/d 5 
#yang tertera pada list diatas

#input data
list_aslab = [ 
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"} ]

surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]
 

for i in range (len(list_aslab)) :
   list_aslab[i]['surel']= surel[i]
print()

for i in range (len(list_aslab)):
    list_aslab[i]['surel']=surel [i]

for list_aslab2 in list_aslab:
    print (list_aslab2)

{'nama': 'Berlian Safri Prakoso', 'nim': 'I0320017', 'kontak': '0858XXXXXXXX', 'surel': 'berlian@student.uns.ac.id'}
{'nama': 'Halidya Siti Hanifah', 'nim': 'I0320044', 'kontak': '0878XXXXXXXX', 'surel': 'halidya@student.uns.ac.id'}
{'nama': 'Nurki Putra Mahardika', 'nim': 'I0320076', 'kontak': '0877XXXXXXXX', 'surel': 'nurki@student.uns.ac.id'}
{'nama': 'Aji Manarul Aziz', 'nim': 'I0320119', 'kontak': '0812XXXXXXXX', 'surel': 'manarul@student.uns.ac.id'}
{'nama': 'Alica Ayu Fitriani', 'nim': 'I0320121', 'kontak': '0896XXXXXXXX', 'surel': 'alica@student.uns.ac.id'}
{'nama': 'Dendy Halim Kusuma', 'nim': 'I0320125', 'kontak': '0822XXXXXXXX', 'surel': 'dendy@student.uns.ac.id'}